<!--script src="{{BaseUrl}}data/row.js"></script-->

<main class="content-wrapper">
    <div class="mdc-layout-grid">
        <div id="app">
            <v-app id="yuhu">
                <div>
                    <v-data-table
                        :headers="headers"
                        :items="models"
                        :pagination.sync="pagination"
                        :total-items="total"
                        :loading="loading"
                        class="elevation-1"
                    >
                        <v-progress-linear slot="progress" color="blue" height="4" indeterminate></v-progress-linear>
                        <template slot="items" slot-scope="props">
                            <td>$[ props.item.name ]</td>
                            <td>$[ props.item.username ]</td>
                            <td>$[ props.item.password ]</td>
                            <td>$[ props.item.email ]</td>
                        </template>
                    </v-data-table>
                </div>
            </v-app>
        </div>
    </div>
</main>
<script>
var populateData = {{ .populate }} 
console.log(populateData);
var app = new Vue({
  el: '#app',
  delimiters: ['$[', ']'],
  data () {
    return {
      total: 0,
      models: [],
      loading: true,
      pagination: {
          rowsPerPage:10,
      },
      headers: [
        {text: 'Name',align: 'left',sortable: true,value: 'name'},
        { text: 'Username',align: 'left', value: 'username' },
        { text: 'Password',align: 'left', value: 'password' },
        { text: 'Email',align: 'left', value: 'email' }
      ]
    }
  },
  watch: {
    pagination: {
      handler () {
        this.getDataFromApi()
          .then(data => {
            this.models = data.items
            this.total = data.total
          })
      },
      deep: true
    }
  },
  mounted () {
    this.getDataFromApi()
      .then(data => {
        this.models = data.items
        this.total = data.total
      })
  },
  methods: {
    getDataFromApi () {
      this.loading = true
      return new Promise((resolve, reject) => {
        const { sortBy, descending, page, rowsPerPage } = this.pagination

        let items = this.getPopulateData()
        const total = items.length

        if (this.pagination.sortBy) {
          items = items.sort((a, b) => {
            const sortA = a[sortBy]
            const sortB = b[sortBy]

            if (descending) {
              if (sortA < sortB) return 1
              if (sortA > sortB) return -1
              return 0
            } else {
              if (sortA < sortB) return -1
              if (sortA > sortB) return 1
              return 0
            }
          })
        }

        if (rowsPerPage > 0) {
          items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage)
        }

        setTimeout(() => {
          this.loading = false
          resolve({
            items,
            total
          })
        }, 1000)
      })
    },
    getPopulateData () {
      return populateData
    }
  }
})
</script>