{{ define "_head" }}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Material Admin</title>
    <!-- plugins VUE :css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{BaseUrl}}static/css/style.css">
    <link rel="stylesheet" href="{{BaseUrl}}static/node_modules/mdi/font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@1.3.8/dist/vuetify.min.css">
    <link rel="stylesheet" href="{{BaseUrl}}static/css/style-datatable.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{BaseUrl}}static/images/favicon.png" />

    <!-- plugins VUE :css -->
    <script src="{{BaseUrl}}static/node_modules/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>    
    <!-- endinject -->
    <style>
      html {
        font-size:1rem;
      }
    </style>
  </head>
{{ end }}