{{ define "_head" }}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Material Admin</title>
    <!-- plugins:css -->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{BaseUrl}}static/css/style.css">
    <link rel="stylesheet" href="{{BaseUrl}}static/node_modules/mdi/font/css/materialdesignicons.min.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{BaseUrl}}static/images/favicon.png" />

    <script src="{{BaseUrl}}static/node_modules/vue/dist/vue.js"></script>
    <script src="{{BaseUrl}}static/node_modules/vuejs-datatable/dist/vuejs-datatable.js"></script>
    <style>
      html {
        font-size:1rem;
      }
    </style>
  </head>
{{ end }}