<!DOCTYPE html>
<html>
{{ template "_head" }}
<body>
  <div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    {{ template "_sidebar" }}
    <!-- partial -->
    <!-- partial:partials/_navbar.html -->
    {{ template "_navbar" }}
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      {{ .Content }}
      <!-- partial:partials/_footer.html -->
      {{ template "_footer" }}
      <!-- partial -->
    </div>
  </div>
  <!-- body wrapper -->
  <!-- plugins:js -->
  {{ template "_loader" }}
  <!-- End custom js for this page-->
</body>

</html>