a { color: #1976d2; }
.primary {
  background-color: #1976d2 !important;
  border-color: #1976d2 !important;
}
.primary--text {
  color: #1976d2 !important;
  caret-color: #1976d2 !important;
}
.primary.lighten-5 {
  background-color: #c7fdff !important;
  border-color: #c7fdff !important;
}
.primary--text.text--lighten-5 {
  color: #c7fdff !important;
  caret-color: #c7fdff !important;
}
.primary.lighten-4 {
  background-color: #a8e0ff !important;
  border-color: #a8e0ff !important;
}